.headerLogo {
    height: 40px;
    width: auto;
    float: left;
    padding-right: 2px;
}

.jumbotron {
    background-color: rgb(239, 178, 45);
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
}

.donate {
    background-color: rgb(226, 61, 40);
    outline-color: rgb(226, 61, 40);
    color: white;
}

.construction {
    text-align: center;
}

.nav-link {
    color: rgb(0, 56, 147) !important;
}

#connect {
    text-align: center;
    background-color: black;
}

html,
body {
    height: 100%;
}

.wrapper {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -105px;
}

footer,
.push {
    height: 105px;
}

footer {
    background-color: rgb(78, 78, 78);
    text-align: right;
}

.largeLogo {
    height: 250px;
    width: auto;
    margin: 0 auto;
}

.footerText {
    padding-top: 40px;
}

.textHolder {
    margin: 0;
    padding-bottom: 20px;
    text-align: center !important;
}

.donateIcon {
    height: 35px;
    width: auto;
    margin-right: 3px;
}

[class*="row"] {
    margin-bottom: 1em;
    justify-content: center;
}

[class*="col-"] {
    background: #efefef;
    border: 1px solid #ddd;
    padding-top: .75rem;
    padding-bottom: .75rem;
    width: 100%;
}

body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../images/IMG_0410.JPG");
    min-height: 80%;
}

.bgimg-2 {
    background-image: url("../images/IMG_3656.JPG");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("../images/IMG_1819.JPG");
    min-height: 400px;
}

.bgimg-4 {
    background-image: url("../images/Cutie.jpg");
    min-height: 80%;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}

.parallaxLogo {
    height: 125px;
    width: auto;
    opacity: 0.45;
}

.donateStories {
    font-size: 40px;
    background-color: rgb(226, 61, 40);
    outline-color: rgb(226, 61, 40);
    color: white;
    opacity: .50;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.storiesText {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}